<section id="PersonalDetailsComponent">
  <body>

  <div class="body row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-1 mt-1">
              <span class="material-icons" style="zoom: 230%">thumb_up_off_alt</span>
            </div>
            <div class="col-12 col-sm-12">
              <h4 class="card-title">
                Congratulations! You have submitted the form successfully.
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body col-12 py-4" id="writter">

        </div>
      </div>
    </div>
  </div>
  </body>
</section>
